BasedOnStyle: Google
---
Language: Cpp
AlignAfterOpenBracket: false
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine : false
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
DerivePointerAlignment: false
PointerAlignment: Left